{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 logo-font text-black">Elegant. <br>Simple. <br> Inspired.</h1>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-lg text-uppercase py-3">Shop Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block page_footer %}
<footer class="container fixed-bottom">
    <div class="row bg-white pt-lg-2 d-none d-lg-flex">
        <div class="col-4 text-center">
                <h6>Customer Care</h6>
            </a>
            <a href="" class="nav-link main-logo-link text-center">
                <p>Contact Us</p>
            </a>
            <a href="" class="nav-link main-logo-link text-center">
                <p>FAQ's</p>
            </a>
        </div>
        <div class="col-4 text-center">
                <h6>Our Company</h6>
            </a>
            <a href="" class="nav-link main-logo-link text-center">
                <p>About Us</p>
            </a>
        </div>
        <div class="col-4 text-center">
                <h6>Follow Us</h6>
            </a>
            <a href="https://www.facebook.com" class="nav-link main-logo-link text-center">
                <p>Facebook</p>
            </a>
            <a href="" class="nav-link main-logo-link text-center">
                <p>Instagram</p>
            </a>
        </div>
    </div>
</footer>
{% endblock %}
